<div class="row">
    <div class="col">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-right" width="30">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-center">Unit</th>
                <th scope="col" class="text-center">Rate</th>
                <th scope="col" class="text-center">
                    <button class="btn btn-outline-primary btn-sm" ng-click="vm.refresh()">Refresh</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items">
                <th scope="row" width="30">{{$index+1}}</th>
                <td width="40" class="text-uppercase">{{item.code}}</td>
                <td class="text-capitalize">{{item.name}}</td>
                <td class="text-right">{{item.unit | number}}</td>
                <td class="text-right">{{item.rate | number : 2}}</td>
                <td class="text-center">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="vm.edit(item)">Edit</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-outline-danger btn-sm" ng-click="vm.remove(item)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <form novalidate="" name="form0" ng-class="{ 'was-validated' : form0.$dirty }">
            <div>
                <button class="btn btn-outline-primary float-end" type="button" ng-click="vm.add()">
                    <strong>New</strong>
                </button>
            </div>
            <br/>
            <div class="form-group">
                <label for="itemCode">Code <span class="text-danger">*</span></label>
                <input id="itemCode" name="itemCode" class="form-control" placeholder="Code" type="text"
                       ng-model="vm.item.code"
                       wyd-focus-on="itemCode"
                       ng-required="true"
                       ng-readonly="vm.item.id !== 0">
                <div ng-messages="form0.itemCode.$error" role="alert" class="invalid-feedback">
                    <div ng-message="required">
                        This is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="itemName">Name <span class="text-danger">*</span></label>
                <input id="itemName" name="itemName" class="form-control" placeholder="Name" type="text"
                       ng-model="vm.item.name"
                       wyd-focus-on="itemName"
                       ng-required="true">
                <div ng-messages="form0.itemName.$error" role="alert" class="invalid-feedback">
                    <div ng-message="required">
                        This is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="itemUnit">Unit <span class="text-danger">*</span></label>
                <input id="itemUnit" name="itemUnit" class="form-control" placeholder="Unit" type="text"
                       ng-model="vm.item.unit"
                       wyd-focus-on="itemUnit"
                       ng-required="true"
                       ng-readonly="true">
                <div ng-messages="form0.itemUnit.$error" role="alert" class="invalid-feedback">
                    <div ng-message="required">
                        This is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="itemRate">Rate <span class="text-danger">*</span></label>
                <input id="itemRate" name="itemRate" class="form-control" placeholder="Rate" type="text"
                       ng-model="vm.item.rate"
                       wyd-focus-on="itemRate"
                       ng-required="true">
                <div ng-messages="form0.itemRate.$error" role="alert" class="invalid-feedback">
                    <div ng-message="required">
                        This is required.
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <button class="btn btn-primary btn-lg float-end" type="button" ng-click="vm.save()">
                    <strong>Save</strong>
                </button>
            </div>
        </form>
    </div>
</div>
